/* .contenedor-view{
    margin: 10px;
}

.container-description{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
}

.container-view{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    width: 70%;
}

.view-image img{
    width: 400px;
    padding: 30px;
    object-fit: contain;
}

.title-view{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    background-color: beige;
    border: 1px solid black;
    
}

.product-view p{
    position: relative;
    top: 50px;
}   

.product-view h3{
    position: relative;
    top: 40px;
}

.container{
    display: flex;
    /* justify-content: center; 
    text-align: center;
    margin-top: 90px;
  
} */

 /* .main-container{
    background-color: rgb(181, 177, 177);
    width: 400px;
    height: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    border-radius: 20px;
    position: relative;
    top: 50px;
}
.btn{
    width: 20%;
    height: 50px;
    border-radius: 20px;
    color: black;
    text-decoration: none;
    padding: 10px;
}
.btn-color{
    background-color: rgb(14, 205, 253);
}

.btn-color:hover{
    background-color: rgb(80, 78, 78);
}
.btn-carrito{
    margin: 0 auto;
}

.btn-cart{
    height: 40px;
    width: 400px;
    background-color: rgb(14, 205, 253);
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    position: relative;
    top: 50px;
}

.btn-cart:hover{
    background-color: rgb(142, 140, 140);
}

.btn-finalizar{
    position: relative;
    top: 50px;
    background-color: blueviolet;
}


.Link-finalizar{
    text-decoration: none;
} */ 

.data-description {
    margin: 1rem;
}
.data-description ul{
    display: flex;
    justify-content: center;
}
.data-description ul :nth-child(4){
    font-weight: bold;
}

.data-description{
    text-decoration: none;
}

.ul-data-description li {
    list-style: none;
}
.ul-data-description li::after{
    content: ">";
    margin: 10px;
}

.container-view-description{
    display: flex;
    margin: auto;
    width: 50%;
    height: 100%;
    /* border: 1px solid black; */
}

.view-description-left {
    width: 50%;
    height: auto;
    margin-right: 1rem;
}

.view-description-left img{
    width: 100%;
}

.view-description-right{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 50%;
}

.data-info{
    width: 50%;
    background-color: rgb(10, 201, 227);
    display: flex;
    justify-content:flex-start;
    align-items: center;
    font-weight: bold;
}

.data-info-container{
    color: white;
    display: flex;
    justify-content: center;
}