.map-container{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-gap: 10px; */
    width: 80%;
    margin-bottom: 1rem;
    
}

.product-container{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom:1rem;
}

.container-shop{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* transition: transform .2s, ; */
}

/* .product-container:hover{
    transform: scale(1.1);
} */

.img-product{
    width: 50%;
    /* border: 1px solid black; */
    height: auto;
    background-color:#273E5B;
}

.price{
    font-size: 18px;
    letter-spacing: 2px;
    font-family: "Droid Sans",Sans-serif;
    color: black;
}

.name-product{
    color: black;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 2px;
    font-family: "Droid Sans",Sans-serif;
}

.btn-product{
    margin-top: 10px;
    background-color: rgb(99, 198, 243);
    border: 1px solid;
    width: 50%;
    height: 30px;
    border-radius: 10px;
}

.spinner{
    display: flex;
    justify-content: center;
   margin: 0 auto;
}

.link-map{
    text-decoration: none;
}